# Database URL for PostgreSQL
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=a5jGW/rZvBFWLKRqjtehxKgJeHsSR8VGXBvSHeZOdIM= # Generate a secret key (salt): `openssl rand -base64 32
ADMIN_PASSWORD=12345678 # Password for the admin login
POSTGRES_PASSWORD=123456
POSTGRES_USER=admin
POSTGRES_DB=indoor-nav
POSTGRES_HOST=localhost
POSTGRES_PORT=5432